body {
  background-color: #ffffff;
  color: #003366;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 750px;
  
  margin: auto;
  margin-top: 10px;
}

.header {
  color: rgb(177, 194, 225, 1);
  background-color: #00000c;
  background-image: url("../images/logo.png");
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.5em;
  text-align: center;
  text-shadow: 4px 4px 6px rgb(0, 0, 0);
  color: #f0f0f0;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 220%;
  text-indent: 1em;
}

h1 {
  margin: 0ch;
}

h2 {
  font-size: 1.2em;
  text-shadow: 1px 1px 1px #777;
}
a {
  text-decoration: none;
}

dt {
  color: #5280c5;
  font-size: 1.1em;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  background-color: #aec3e3;
  text-align: center;
  padding: 0.5em;
  width: 100%;
}

.topnav {
  font-weight: bold;
}

.bottomnav {
  text-align: center;
  display: inline-block;
  width: 100%;
}

nav {
  color: #ffffff;
  background-color: rgb(1, 82, 125, 0.65);
  text-align: center;
  padding: 0.5em;
}

.category {
  font-weight: bold;
  color: #5380c5;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.page {
  background-color: #f0f0f0;
}

#wrapper {
  min-width: 700px;
  padding: 15px;
  margin-bottom: 10px;
}

#nav {
  width: 330px;
  margin-left: 60px;
  margin: auto;
  list-style: none;
  padding-left: 4em;
  background-color: #f0f0f0;
}
#nav li {
  float: left;
}
#nav a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
