body {
  background-color: #ffffff;
  color: #003366;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 21px;
  min-width: 750px;
  margin: auto;
  margin-top: 10px;
}

nav {
  color: #ffffff;
  background-color: rgb(1, 82, 125, 0.65);
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h1 {
  margin: 0ch;
}

h2 {
  font-size: 1.2em;
  text-shadow: 1px 1px 1px #777;
}
a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #162b3b;
}

dt {
  color: #5280c5;
  font-size: 1.1em;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  background-color: #618aa5;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
}

/*  ID'S */

#wrapper {
  min-width: 700px;
  padding: 15px;
  margin-bottom: 10px;
}

#contact {
  color: #000000;
  text-decoration: underline;
}

/* CLASSES */

.header {
  color: rgb(177, 194, 225, 1);
  background-color: #00000c;
  background-image: url("../images/logo.png");
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.5em;
  text-align: center;
  text-shadow: 4px 4px 6px rgb(0, 0, 0);
  color: #f0f0f0;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 220%;
  text-indent: 1em;
}

.topnav {
  font-weight: bold;
}

.bottomnav {
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #003366;
  background-color: #f0f0f0;
}

.bottomnav a {
  color: #2b6b99;
  margin: 10px;
}

.bottomA {
  color: #00000c;
}

.category {
  font-weight: bold;
  color: #5380c5;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.page {
  background-color: #f0f0f0;
  border: 5px solid #618aa5;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #02181e57;
  z-index: 1;
  margin: 50px;
}

nav.topnav a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

nav.topnav img {
  display: block;
  margin: auto;
}

nav.topnav span {
  display: block;
  margin-top: 8px;
}
